/* Main*/

body
{
    color: #333;
    font-family: 'Muli', sans-serif;
    padding-left: 2em; 
    padding-right: 2em;
    max-width: 1200px;
}

/* centre le body au-delà de 1200px de large. Codé de cette façon pour préserver la margin du body sous les 1200 px */
@media (min-width:1300px){
    body{
        margin-left: auto;
        margin-right: auto;
    }
}

html
{ 
    overflow-y: scroll;
}

/* Header */
header
{
    min-height: 100px;
    width: 24%;
    min-width: 200px;
}

header a
{
    text-decoration: none;
    color: black;
}

#logo 
{
    position: fixed;
    top: 30px;
    /*left: 26.55vw;*/
    font-size: 1.8em;
    z-index: 1;
}

#logo a
{
    color: rgba(253,0,141,0.8);
}

.tiretsLogo
{
    display: inline;
}

#iconeMenu
{
    display: none;
}

#iconeMenu a
{
    width: 100%;
    height: 100%;
}

#iconeCroix
{
    display: none;
}

#iconeCroix a
{
    width: 100%;
    height: 100%;
}


/* Section */
section
{
    display: flex;
    flex-direction: row;
}

aside
{
    display: block;
    width: 25.38%;
    height: 100%;
}

nav 
{
    display: block;
    position: fixed;
    height: 100%;   
    margin-top: 0px;
    margin-left: 0px;
    padding: 0;
    text-align: left;
}

#filtres, #aPropos
{
    position: relative;
    text-align: left;
    left: 0px;
    /*margin-left: 2.2vw;*/
}
#filtres a, #aPropos a
{
    margin: 0;
}

.menu
{
    margin-bottom: 8px;
    font-size: 1.1em;
    display: block;
}

.sousMenu
{
    margin-bottom: 5px;
    font-size: 0.8em;
    display: block;
    line-height: 1.3;
}

nav a
{
    text-decoration: none;
    color: black;
}

nav a:hover, nav a:focus, .active
{
    color:rgba(253,0,141,0.8);
    text-decoration: none;
}

#filtres a:hover, #aPropos a:hover, #filtres a:focus, #aPropos a:focus
{
    color:rgba(253,0,141,0.8);
}

#menuRealisations, #imagier, #achat, #menuAPropos
{
    margin-bottom: 15px;
}

#menuRealisations a, #menuAPropos a
{
    margin-bottom: 0;
}

#mediasRealisation
{
    margin: 0;
    width: 49.16%;
}

#mediasRealisation img
{
    width: 100%;
    /*max-height: 100vh;*/
}

#presentationRealisation
{
    display: block;
    margin-left: 1.6%;
    width: 23.78%;
}
#presentationRealisation h3
{
    margin-top: 0;
    font-size: 1.5em;
    font-weight: normal;
    text-decoration: none;
}

#presentationRealisation p
{
    font-size: 0.8em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.3;
}

#presentationRealisation h4
{
    font-weight: normal;
    font-size: 1.1em;
    margin-bottom: 15px;
    margin-top: 0;   
}

#mediasRealisation .legendeTitre p
{
    font-size: 1.1em;
    margin-bottom: 0;
    margin-top: 0;
}

.legendeDetails p
{
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 40px;
}

.legendeDetails
{
    line-height: 1.1;
}

video
{
    margin-bottom: 40px;
}

/* { border: 1px solid #f00; }*/

@media (max-width:900px){
    /* Main*/
    .disappear{
        display: none !important;
    }
    
    .appear{
        display: block !important;
    }

    html
    { 
        /*overflow-y: default;*/
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    /* Header */

    header{
        width: 100%;
        height: 50px;
        min-height: 50px;
        margin: 0 auto;
        padding: 0px;
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: rgb(232,232,232);
        position: fixed;
        overflow: hidden;
        z-index: 2;
    }

    #logo
    {
        position: relative;
        left: 0px;
        top: 0px;
        margin: 0 0 0 5vw;
        font-size: 1.4em;
    }

    #iconeMenu
    {
        display: block;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 11px;/*20px;*/
        right: 6vw;/*20px;*/
        z-index: 6;
    }

    #iconeMenu img
    {
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
    
    }

    #iconeCroix
    {
        margin: 0;
        padding: 0;
        position: fixed;
        top: 13px;/*20px;*/
        right: 6vw;/*20px;*/
        z-index: 5;
    }

    #iconeCroix img
    {
        width: 28px;
        height: 28px;
        margin: 0;
        padding: 0;
    }

    /* Section */

    section
    {
        flex-direction: column-reverse;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        position: relative;
    }

    aside
    {
        position: fixed;
        right: -210px;
        top: 0px;
        display : block;
        width: 160px;
        height: 100%;
        z-index: 4;
        background-color:rgb(220,220,220);
        padding-left: 5vw;
        padding-top: 70px;
    
    }
    
    nav{
        position: static;
        width: 100%;
    }

    .menu
    {
        margin-bottom: 0.5vw;
        font-size: 1.2em;
    }

    .sousMenu
    {
        margin-bottom: 0.5vw;
    }

    /* Contenu médias */
    #mediasRealisation
    {
       display: block;
        width: 100%;
        margin-left: 0;
        padding: 0;
        position: relative;
        top: 70px;
    }

    #mediasRealisation img, #mediasRealisation video
    {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        /*border: 1px solid grey;*/
    
        /*max-height: 100vh;*/
    }

    #presentationRealisation
    {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        position: relative;
        top: 70px;
    }

    #presentationRealisation h3
    {
        font-size: 1.4em;
    }

    #presentationRealisation p
    {
        margin: 0;   
    }

    #presentationRealisation h4
    {
        font-size: 1.2em;
    }

    #mediasRealisation .legendeTitre p
    {
        font-size: 1.2em;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .legendeDetails p
    {
        font-size: 0.8em;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    @media (min-width: 500px) and (max-width: 900px){
        #presentationRealisation, #mediasRealisation img, #mediasRealisation video, #mediasRealisation div {
            width: 50vw;
            margin-left: 25vw;
            margin-right: 25vw;
        }
        #mediasRealisation .legendeTitre p, #mediasRealisation .legendeDetails p{
            margin-left: 0;
            margin-right: 0;
        }
    }
}