/* Main*/

html
{ 
    /*overflow-y: default;*/
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
}

body
{
    color: black;
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    height: 100%;
}

/* Header */
header
{
    width: 100%;
    margin: auto;
    padding: 0px;
    display: flex;
    text-align: center;
}

#iconeMenu
{
    display: block;
    margin: 0;
    padding: 0;
    position: fixed;
    top : 10px;
    left: 10px;
    z-index: 5;
}

#iconeMenu a
{
    width: 100%;
    height: 100%;
}

#iconeMenu img
{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;

}

#iconeCroix
{
    display: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top : 18px;
    left: 18px;
    z-index: 2;
}

#iconeCroix a
{
    width: 100%;
    height: 100%;
}

#iconeCroix img
{
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
}

#logo
{
    position: relative;
    left: 0px;
    top: 0px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 3em;
    min-width: 405px;
    /*word-wrap: keep-all;*/  
}

#logo a
{
    color: rgba(253,0,141,0.8);
    /*word-wrap: keep-all;*/

}

#logo a:focus
{
    outline: 0;
}

.tiretsLogo
{
    display: none;
}



/* Section */


section
{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    z-index: 1;

}

aside
{
    position: static;
    display : none;
    /*border: 1px solid black;*/
    width: 100%;
    height: 100%;
    margin-left: 3vw;
}


nav 
{
    display: block;
    position: static;
    width: 100%;
    height: 100%;   
    text-align: left;
    margin-top: 0;
}

#filtres, #aPropos
{
    position: relative;
    text-align: left;
    left: 0px;
}

.menu
{
    margin-bottom: 0.5vw;
    font-size: 1.5em;
    display: block;
}

.sousMenu
{
    margin-bottom: 0.5vw;
    display: block;
    font-size: 1em;

}

nav a:hover, nav a:focus
{
    color:rgba(253,0,141,0.5); /*color: rgb(253,0,141);*/
    text-decoration: none;
    outline: 0;
}

#filtres a:hover, #aPropos a:hover, #filtres a:focus, #aPropos a:focus
{
    color:rgba(253,0,141,0.5);
    outline: 0;
}


/** { border: 1px solid #f00; }*/