/* Main*/
@font-face 
{
    font-family: 'muliextralight';
    src: url('muli-extralight-webfont.eot');
    src: url('muli-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('muli-extralight-webfont.woff2') format('woff2'),
         url('muli-extralight-webfont.woff') format('woff'),
         url('muli-extralight-webfont.ttf') format('truetype'),
         url('muli-extralight-webfont.svg#muliextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    color: black;
    font-family: 'muliextralight';
}



/* Header */
header
{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    min-height: 100px;
    padding-top: 20px;
}

header a
{
    text-decoration: none;
    color: black;

}

#logo 
{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.4em;
    min-width: 200px;
}

#logo a
{
    color: rgba(253,0,141,0.8);
}

/* Nav */

.menuPrincipal, .filtres
{
    margin: 0px;
}

#nav ul
{
    list-style-type: none;
    display: flex;
    margin: 0px;
}

#nav 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 70px;
}

#nav li 
{
    margin-right: 25px;
    margin-top: 5px;
}

#nav a
{
    font-weight: normal;
    font-size: 1em;
}

#nav a:hover
{
    color: rgb(253,0,141);
    text-decoration: underline;
}

/* Section */
section
{
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

#filtres ul 
{
    min-width: 380px;
}

#filtres li
{
    display: inline-block;
    margin-right: 5px;
}

#filtres a
{
    text-decoration: none;
    color: black;
    font-size: 0.7em;
}

#filtres a:hover
{
    color:rgba(253,0,141,0.5);
}

#filtres
{
    margin-bottom: 30px;
}

/*Realisations */

#realisations
{
  	width: 100%;
  	height: 100%;
    /*margin-left: 20px;
    margin-right: 20px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.realisation
{
    width: 21.75vw;
    height: 16.3125vw;
    margin-left: 0.7vw;
    margin-right: 0.7vw;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw; /*10px;*/
    /*border: 1px black solid;*/
    position: relative;
}
.realisation p
{
    text-align: left;
    position: relative;
}

.texteRealisation
{
    opacity: 0;
    padding-top: 0%; /*j'étais à 15%*/
    padding-left: 8%;
    font-size: 1.3vw;
}

.realisation:hover .texteRealisation
{
	opacity: 1;
}

img 
{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}

.realisation:hover img
{
    opacity: 0.4;
}

.titre
{
    font-size: 1.2em;
    margin-bottom: 0.5%;
}

.titre strong
{
    font-weight: normal;
}

.motCle
{
    font-size: 0.8em;
}

.annee
{
    font-size: 0.8em;
    /*font-style: italic;*/
}

/** { border: 1px solid #f00; }*/
