/* Main*/
html
{ 
    /*overflow-y: default;*/
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body
{
    font-family: 'Muli', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Header */
header
{
    width: 100%;
    height: 50px;
    min-height: 50px;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(232,232,232);
    position: fixed;
    overflow: hidden;
    z-index: 2;
    /*pour diminution taille au scroll*/
    /*-webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;*/
}

/*header.smaller
{
    height: 70px;
    min-height: 70px;
    justify-content: left;
    background-color: rgb(232,232,232);
    border-bottom: 1px solid grey;
    /*align-items: flex-start;
}*/

#logo
{
    position: relative;
    left: 0px;
    top: 0px;
    margin: 0 0 0 5vw;
    font-size: 1.4em;
    /*min-width: 405px;*/
    /*word-wrap: keep-all;*/
    /*pour changement au scroll*/
    /*-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;  */
}

/*header.smaller #logo
{
    font-size: 1.8em;
    margin-left: 5vw;

}*/

/*.clearfix:after 
{
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; 
}*/

#logo a
{
    color: rgba(253,0,141,0.8);
}

#logo a:focus
{
    outline: 0;
}

.tiretsLogo
{
    display: inline;
}
#iconeMenu
{
    display: block;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 10px;/*20px;*/
    right: 6vw;/*20px;*/
    z-index: 6;
}

#iconeMenu a
{
    width: 100%;
    height: 100%;
}

#iconeMenu img
{
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;

}

#iconeCroix
{
    display: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 20px;/*20px;*/
    right: 6vw;/*20px;*/
    z-index: 5;
}

#iconeCroix a
{
    width: 100%;
    height: 100%;
}

#iconeCroix img
{
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}


/* Section */
section
{
/*     display: block;
 */ display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    /*z-index: 1;*/

}

aside
{
    position: fixed;
    right: 0px;
    top: 0px;
    display : none;
    /*border: 1px solid black;*/
    width: 40%;
    max-width: 160px;
    height: 100%;
    z-index: 4;
    background-color:rgb(220,220,220);
    padding-left: 5vw;
    padding-top: 70px;

}


nav 
{
    display: block;
    position: static;
    width: 100%;
    height: 100%;   
    text-align: left;
    margin-top: 0;
}

#filtres, #aPropos
{
    position: relative;
    text-align: left;
    left: 0px;
    /*margin-left: 2.2vw;*/
}
#filtres a, #aPropos a
{
    margin: 0;
}

.menu
{
    margin-bottom: 0.5vw;
    font-size: 1.2em;
    display: block;
}

.sousMenu
{
    margin-bottom: 0.5vw;
    display: block;
    font-size: 0.8em;
    line-height: 1.3;
}


nav a
{
    text-decoration: none;
    color: black;
}

nav a:hover, nav a:focus
{
    color:rgba(253,0,141,0.5);
    text-decoration: none;
    outline: 0;
}

#filtres a:hover, #aPropos a:hover, #filtres a:focus, #aPropos a:focus
{
    color:rgba(253,0,141,0.5);
    outline: 0;
}

#menuRealisations, #imagier, #achat, #menuAPropos
{
    margin-bottom: 15px;
}

#menuRealisations a, #menuAPropos a
{
    margin-bottom: 0;
}

/*********************************************************************************/

#mediasRealisation
{
   display: block;
    width: 100%;
    margin-left: 0;
    padding: 0;
    position: relative;
    top: 70px;
}

#mediasRealisation img, #mediasRealisation video
{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    /*border: 1px solid grey;*/

    /*max-height: 100vh;*/
}

#presentationRealisation
{
    display: block;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    position: relative;
    top: 70px;
}

#presentationRealisation h3
{
    margin-top: 0;
    font-size: 1.4em;
    font-weight: normal;
    text-decoration: none;
}

#presentationRealisation p
{
    font-size: 0.8em;
    text-align: left;
    margin: 0;
    line-height: 1.3;
}

#presentationRealisation h4
{
    font-weight: normal;
    font-size: 1.2em;
    margin-bottom: 15px;
    margin-top: 0;   
}

#mediasRealisation .legendeTitre p
{
    font-size: 1.2em;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 5vw;
    margin-right: 5vw;
}

@media (min-width: 500px) and (max-width: 900px){
    #presentationRealisation, #mediasRealisation img, #mediasRealisation video, #mediasRealisation div {
        width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
    }
    #mediasRealisation .legendeTitre p, #mediasRealisation .legendeDetails p{
        margin-left: 0;
        margin-right: 0;
    }
}

.legendeDetails p
{
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.legendeDetails
{
    line-height: 1.1;
}

video
{
    margin-bottom: 40px;
}

/* { border: 1px solid #f00; }*/