/* Main*/
html
{ 
    /*overflow-y: default;*/
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body
{
    font-family: 'Muli', sans-serif;
    color: black;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}


/* Header */
header
{
    width: 100%;
    height: 50px;
    min-height: 50px;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(232,232,232);
    position: fixed;
    overflow: hidden;
    z-index: 2;
    /*pour diminution taille au scroll*/
    /*-webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;*/
}

/*header.smaller
{
    height: 70px;
    min-height: 70px;
    justify-content: left;
    background-color: rgb(232,232,232);
    border-bottom: 1px solid grey;
    /*align-items: flex-start;
}*/

#logo
{
    position: relative;
    left: 0px;
    top: 0px;
    margin: 0 0 0 5vw;
    font-size: 1.4em;
    /*min-width: 405px;*/
    /*word-wrap: keep-all;*/
    /*pour changement au scroll*/
    /*-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;  */
}

/*header.smaller #logo
{
    font-size: 1.8em;
    margin-left: 5vw;

}*/

/*.clearfix:after 
{
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; 
}*/

#iconeMenu
{
    display: block;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 10px;/*20px;*/
    right: 6vw;/*20px;*/
    z-index: 6;
}

#iconeMenu a
{
    width: 100%;
    height: 100%;
}

#iconeMenu img
{
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;

}

#iconeCroix
{
    display: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 20px;/*20px;*/
    right: 6vw;/*20px;*/
    z-index: 5;
}

#iconeCroix a
{
    width: 100%;
    height: 100%;
}

#iconeCroix img
{
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}

#logo a
{
    color: rgba(253,0,141,0.8);
    /*word-wrap: keep-all;*/

}

#logo a:focus
{
    outline: 0;
}

.tiretsLogo
{
    display: none;
}



/* Section */


section
{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    /*z-index: 1;*/

}

aside
{
    position: fixed;
    right: 0px;
    top: 0px;
    display : none;
    /*border: 1px solid black;*/
    width: 40%;
    height: 100%;
    z-index: 4;
    background-color:rgb(220,220,220);
/*    border-left: 1px solid grey;
*/    padding-left: 5vw;
    padding-top: 70px;
    transition: 1s ease;

}


nav 
{
    display: block;
    position: static;
    width: 100%;
    height: 100%;   
    text-align: left;
    margin-top: 0;
}

#filtres, #aPropos
{
    position: relative;
    text-align: left;
    left: 0px;
}

#filtres a, #aPropos a
{
    margin: 0;
}

.menu
{
    margin-bottom: 0.5vw;
    font-size: 1.2em;
    display: block;
}

.sousMenu
{
    margin-bottom: 0.5vw;
    display: block;
    font-size: 0.8em;

}

nav a:hover, nav a:focus
{
    color:rgba(253,0,141,0.5); /*color: rgb(253,0,141);*/
    text-decoration: none;
    outline: 0;
}

#filtres a:hover, #aPropos a:hover, #filtres a:focus, #aPropos a:focus
{
    color:rgba(253,0,141,0.5);
    outline: 0;
}

/*Realisations */
#realisations
{
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 80px;
    padding: 0;
    position: relative;
    top: 0;
}

.realisation
{
    display: block;
    position: relative;
    width: 90vw;
    /*height: 66vw;*/
    margin-left: 5vw;
    margin-right: 5vw;
}

@media (min-width: 500px) and (max-width: 900px){
    .realisation{
        width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
    }
}


.realisation img 
{
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    margin-bottom: 0;
    /*border: 1px solid grey;*/
}

.texteRealisation
{
    opacity: 1;
    width: 100%;
    height: 0;
    padding-top: 2px; /*j'étais à 15%*/
    padding-left: 0%;/*8%;*/
    padding-bottom: 35%;
    margin: 0; 
}

.realisation p
{
    text-align: left;
    position: relative;
}

.realisation a
{
    text-decoration: none;
    color: black;
}
.realisation a:hover
{
    text-decoration: none;
    color:rgb(255, 0, 140);
}

/*.realisation:hover .texteRealisation
{
    opacity: 1;
}

.realisation:hover img
{
    opacity: 0.7;
}*/

.titre
{
    font-size: 1.2em;
    /*font-weight: bold;*/
    margin-bottom: 0.5%;
    margin-top: 0;
    
}

.motCle
{
    font-size: 0.8em;
    /*font-weight: bold;*/
}

.annee
{
    font-size: 0.8em;
    /*font-weight: bold;*/
}


/** { border: 1px solid #f00; }*/