/* Main*/

body
{
    color: #333;
    font-family: 'Muli', sans-serif;
    padding-left: 2em; 
    padding-right: 2em;
    max-width: 1200px;  
    /* suite pour coller le footer en bas de page */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 97.3vh;
    margin-bottom: 0;
}

/* centre le body au-delà de 1200px de large. Codé de cette façon pour préserver la margin du body sous les 1300 px */
@media (min-width:1300px){
    body{
        margin-left: auto;
        margin-right: auto;
    }
}

html
{ 
    /* position: relative;/* pour gestion superposition footer */
    min-height: 100%;  /* Idem  */
    overflow-y: scroll;
}

h3
{
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: normal;
}

/* Header */
header
{
    min-height: 100px;
    width: 24%;
    min-width: 200px;

}

header a
{
    text-decoration: none;
    color: #333;
}

#logo 
{
    position: fixed;
    top: 30px;
    font-size: 1.8em;
    z-index: 1;
}

#logo a
{
    color: rgba(255, 0, 140, 0.8);
}

#iconeMenu
{
    display: none;
    
}

#iconeMenu a
{
    width: 100%;
    height: 100%;
}

/* #iconeMenu img
{
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;

} */

#iconeCroix
{
    display: none;
}

#iconeCroix a
{
    width: 100%;
    height: 100%;
}

/* #iconeCroix img
{
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
} */


/* Section */
section
{
    display: flex;
}

aside
{
    display: block;
    width: 23.78%; 
}

.realisationAside
{
    width: 25.38%;
    height: 100%;
}

nav 
{
    display: block;
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0;
    text-align: left; 
}

#filtres, #aPropos
{
    position: relative;
    text-align: left;
    left: 0px;
}

#filtres a, #aPropos a
{
    margin: 0;
}

.menu
{
    margin-bottom: 8px;
    font-size: 1.1em;
    display: block;
}

.sousMenu
{
    margin-bottom: 5px;
    font-size: 0.8em;
    display: block;
    line-height: 1.3;

}

a
{
    text-decoration: none;
    color: #333;
    
}

a:hover, a:focus, .active
{
    color:rgba(253,0,141,0.8);
    text-decoration: none;
}

#filtres a:hover, #aPropos a:hover, #filtres a:focus, #aPropos a:focus
{
    color:rgba(253,0,141,0.8);
}

#menuRealisations, #imagier, #achat, #menuAPropos
{
    margin-bottom: 15px;
}

#menuRealisations a, #menuAPropos a
{
    margin-bottom: 0;
}

#mediasRealisation
{
    margin: 0 0 50px 0;
    width: 49.16%;
}

#mediasRealisation img
{
    width: 100%;
    /*max-height: 100vh;*/
}

#mediasRealisation .vertical
{
    width: 66%;
    margin-left: 17%;
    /*max-height: 100vh;*/
}


#presentationRealisation
{
    display: block;
    margin-left: 1.6%;
    width: 23.78%;
}
/* #presentationRealisation h3
{
    font-weight: normal;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 5px;
    
} */

#presentationRealisation p
{
    font-size: 0.84em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.3;
}

#mediasRealisation .legendeTitre p
{
    font-size: 1.15em;
    margin-bottom: 0;
    margin-top: 0;
}

.legendeDetails p
{
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 40px;
}

.legendeDetails
{
    line-height: 1.1;
}

/* video, iframe, .embed-container
{
    margin-bottom: 80px;
    
} */

.videoWrapper {
	position: relative;
	padding-top: 25px;
    height: 0;
    margin-bottom: 60px;    
}

.tailleVideo1{
    padding-bottom: 77.25%;/* 69%, 56.25%; */ /* 16:9 */
}

.tailleVideo2{
    padding-bottom: 77.25%;/* 69%, 56.25%; */ /* 16:9 */
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* { border: 1px solid #f00; }*/

/* A propos */
#identificationContenu
{
    margin: 0 0 50px 0;
    padding: 0 0 0 0;
    width: 49.16%;
}

h2{
    margin-top: 0;
    font-weight: normal;
}

/* #identificationContenu h3{
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: normal;
} */

#identificationContenu p{
    font-size: 0.84em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.3;
}

#identificationContenu p a{
    text-decoration: underline;
}

#identificationContenu h4{
    font-size: 1em;
    font-weight: normal;
}


/*Realisations */

#realisations
{
  	width: 76.22%;
    height: 100%;
    min-height: 63.5vh;    
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
    position: relative;
}

#supRealisationsImagier{
    width: 76.22%;
    height: 100%;
    min-height: 63.5vh;    
    margin: 0;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start; */
    position: relative;
}

#supRealisationsImagier > #presentationImagier{

    font-size: 0.84em;
    margin-bottom: 10px;
    
}

#supRealisationsImagier > h2, #presentationImagier {
    margin-left: 2.133%;  
    width: 63%;
    
}


#realisationsImagier{
    width: 100%;
    height: 100%;
    min-height: 63.5vh;    
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
/*     position: relative;
 */}

.realisationImagier
{
    /* display: flex;
    flex-direction: row; */
    position: relative;
    width: 31.15%;
    margin-left: 2.133%;
    margin-bottom: 20px;
    margin-top: 0; 
    outline: 1px solid black;
/*     overflow: hidden;
 */}

 .realisationImagier:before{
    content:'';
    display: block;
    padding-top: 100%;/* vertical value as  100% equals width 
    display:inline-block;
 float: left;   
    vertical-align:middle; /* or whatever */
}

.realisationImagier img{
    position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    /* display: inline-block;
    position: relative;
    width: 100%;   
    vertical-align: middle; */ 
    /* margin: auto;*/
    /* justify-content: center;
    align-items: center; */
}


.realisation
{
    display: block;
    position: relative;
    width: 31.15%;
    margin-left: 2.133%;
    margin-bottom: 0;
    margin-top: 0;  
}
.realisation a:active, .realisation a:focus

{
    outline: none;
}

.realisation img
{
    
   width: 100%;
   margin: auto;
}


.texteRealisation
{
    opacity: 1;
    width: 100%;
    height: 0; 
    padding-top: 2px; /*j'étais à 15%*/
    padding-left: 0%;/*8%;*/
    padding-bottom: 36.8%;
    margin: 0; 
    /*font-size: 1.3vw;*/
      
}

.texteRealisation .titre
{
/*    margin-bottom: 5px;
*/  margin-bottom: 0;
}

.realisation p
{
    text-align: left;
    position: relative;
}

.realisation:hover img
{
     opacity: 0.6;
    /* transform: scale(1.05); */
    
}

.imagier:hover img {
    opacity: 1;
}

.titre
{
    font-size: 1.1em;
    margin-bottom: 8px;
    margin-top: 0;
}

.titre strong
{
    font-weight: normal;

}

.motCle
{
    font-size: 0.8em;
    margin-bottom: 0;
    margin-top: 0;
}

.annee
{
    font-size: 0.8em;
    margin: 0;
}

/* Formulaire */

.formulaire{
    margin-bottom: 20px;
    margin-left: 2.133%;
    width: 100%;
}

.requeteImagier
{
    width: 25%;
    border: none;
    background-color: #F2F1F0;
    
}

.inputImagier
{
    font-family: 'Muli', sans-serif;
    
}

.submitImagier
{
/*     border-radius: 0.5;
 */    box-shadow: 0;
    margin: 0;
    padding:0;
}

.formImagier{
    display: inline;
}

.resultatImagier
{
    font-size: 0.84em;
    display : inline;
    margin-left : 40px;
}

/***** FOOTER  *****/

footer
{
    margin: 50px 0 0 0;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    background-color: white;
    position: relative;
    top: 10px;
    z-index: 3;
    height: 50px;
    
}

footer img{
    margin-left: 5px;
}

footer span {
    color: rgb(143, 142, 142);
}


@media (max-width:900px){
    /* Main*/
    .disappear{
        display: none !important;
    }
    
    .appear{
        display: block !important;
    }

    html{ 
       
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
    }
    /* Header */
    header
    {
        width: 100%;
        height: 50px;
        min-height: 50px;
        margin: 0 auto;
        padding: 0px;
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: white;/* rgb(232,232,232); */
        position: fixed;
        overflow: hidden;
        z-index: 2;
        -webkit-box-shadow: 0px -8px 21px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -8px 21px 0px rgba(0,0,0,0.75);
        box-shadow: 0px -8px 21px 0px rgba(0,0,0,0.75);

    }

    #logo
    {
        position: relative;
        left: 0px;
        top: 0px;
        margin: 0 0 0 5vw;
        font-size: 1.4em;
       
    }

    #iconeMenu
    {
        display: block;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 11px;/*20px;*/
        right: 6vw;/*20px;*/
        z-index: 6;
    }

    #iconeMenu img
    {
        width: 30px;
        height: 30px; 
    }

    #iconeCroix
    {
        display: none;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 13px;/*20px;*/
        right: 6vw;/*20px;*/
        z-index: 5;
    }
    
    #iconeCroix img
    {
        width: 28px;
        height: 28px;
        margin: 0;
        padding: 0;
    }


    /* Section */


    section
    {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        position: relative;
    }

    .realisationSection{
        flex-direction: column-reverse;        
    }

    aside
    {
        position: fixed;
        right: -210px; /* changement vs 0 */
        top: 0px;
        display : block;/*  changement vs none; */
        width: 160px; /* changement vs 40% */
        /* max-width: 160px; */
        height: 100%;
        z-index: 4;
        background-color:white; /* rgb(220,220,220); */
        padding-left: 5vw;
        padding-top: 70px;
        -webkit-box-shadow: 5px -8px 21px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px -8px 21px 0px rgba(0,0,0,0.75);
        box-shadow: 5px -8px 21px 0px rgba(0,0,0,0.75);
       /*  -webkit-box-shadow: 7px -8px 21px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px -8px 21px 0px rgba(0,0,0,0.75);
        box-shadow: 7px -8px 21px 0px rgba(0,0,0,0.75); */
        /* -webkit-box-shadow: 4px 2px 21px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 2px 21px 0px rgba(0,0,0,0.75);
        box-shadow: 4px 2px 21px 0px rgba(0,0,0,0.75); */
    }

    .realisationAside{
        width: 160px;
    }

    nav 
    {
        position: static;
        width: 100%;
    }

    .menu
    {
        margin-bottom: 0.5vw;
        font-size: 1.2em;
    }
    
    .sousMenu
    {
        margin-bottom: 0.5vw;   
    }

    /* Contenu médias */
    #mediasRealisation
    {
       display: block;
        width: 100%;
        margin-left: 0;
        padding: 0;
        position: relative;
        top: 70px;
    }

    #mediasRealisation img, #mediasRealisation video, #mediasRealisation .videoWrapper
    {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        /*border: 1px solid grey;*/
    
        /*max-height: 100vh;*/
    }

     #mediasRealisation .vertical
    {
        margin-left: 0%;
        
    }

    #mediasRealisation .vertical > img {
        width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
    }

    #mediasRealisation .videoWrapper{
        margin-top: 20px;
    }

    .tailleVideo1{
        padding-bottom: 68%;
    }

    .tailleVideo2{
        padding-bottom: 50%;
    }

    #presentationRealisation
    {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        position: relative;
        top: 70px;
    }

  /*   #presentationRealisation h3
    {
        font-size: 1.4em;
    } */

    #presentationRealisation p
    {
        margin: 0 0 40px 0;   
    }

  /*   #presentationRealisation h4
    {
        font-size: 1.2em;
    } */

    #mediasRealisation .legendeTitre p
    {
        font-size: 1.05em;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .legendeDetails p
    {
        font-size: 0.8em;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    #mediasRealisation .vertical p, #mediasRealisation .vertical p{
        width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
    }
    /* A propos Identification */
    #identificationContenu
    {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        position: relative;
        top: 70px;
    }
/* 
    #identificationContenu h3
    {
        font-size: 1.4em;
    } */

    /*Realisations */
    #supRealisationsImagier{
        display: block;
        width: 100%;
        margin-left: 0;
        margin-top: 70px;
        padding: 0;
        top: 0;
        overflow: hidden;
    }  
    
    #realisations
    {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-top: 100px;
        padding: 0;
        top: 0;
        overflow: hidden;
    }

    #realisationsImagier{
        display: block;
        width: 100%;
        margin-left: 0;
/*         margin-top: 100px;
 */        padding: 0;
        top: 0;
        overflow: hidden;
    
    }

    #supRealisationsImagier > h2, form, #presentationImagier{
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .resultatImagier{
        display: block;
        margin-top: 20px;;
        margin-left: 5vw;
    }

    .formulaire{
        margin-top: 20px;
    }
          
    .realisation
    {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    footer{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        height: auto;
    }

    footer a, footer span{
        margin-bottom: 10px;
    }
    footer div{
        padding-bottom: 50px;
    }
    
    @media (min-width: 500px) and (max-width: 900px){
        .realisation{
            width: 50vw;
            margin-left: 25vw;
            margin-right: 25vw;
        }

        #supRealisationsImagier > h2, form, #presentationImagier, .resultatImagier{
            width: 50vw;
            margin-left: 25vw;
            margin-right: 25vw;
        }

        #presentationRealisation, #mediasRealisation img, #mediasRealisation video, #mediasRealisation .videoWrapper, #mediasRealisation div {
            width: 50vw;
            margin-left: 25vw;
            margin-right: 25vw;
        }

        #mediasRealisation .vertical > img {
            width: 33vw;
            margin-left: 33vw;
            margin-right: 33vw;
        }

        .tailleVideo1{
            padding-bottom: 38%;
        }

        .tailleVideo2{
            padding-bottom: 51%;
        }

        #mediasRealisation .legendeTitre p, #mediasRealisation .legendeDetails p{
            margin-left: 0;
            margin-right: 0;
        }
        
        #mediasRealisation .vertical p{
            margin-left: 33vw;
            margin-right: 33vw;
        }



        /* A propos identification */
        #identificationContenu{
            width: 50vw;
            margin-left: 25vw;
            margin-right: 25vw;
        }
    }

    .realisation:hover img
    {
        opacity: 1;
    }

    .titre
    {
        font-size: 1.2em;
        /*font-weight: bold;*/
        margin-bottom: 0.5%;
        margin-top: 0;
        
    }
    
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 3s;
    animation-fill-mode: both;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
/** { border: 1px solid #f00; }*/